<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
</p>

<table id="chessboard">
  <% (0..7).each do |row| %>
  <tr>
      <% (0..7).each do |col| %>
      <td>
        <% unless @game.pieces.find_by(row: row, column: col).nil? %>
          <%= link_to piece_path(@game.pieces.find_by(row: row, column: col)) do %>
            <%= draw_piece(@game, row, col) %>
          <% end %>
        <% end %>
      </td>
    <% end %>
  </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
