<script>
  $(function() {
    var pawnId;
    var $droppedSpace;
    var $blackPlayerCapturedPieces = $('#black-player-info .captured-pieces');
    var $whitePlayerCapturedPieces = $('#white-player-info .captured-pieces');
    function is_in_back_row(piece) {
      if (piece.color == 'black'){
        return piece.row == 7;
      }else {
        return piece.row == 0;
      }
    }
    $('.piece').draggable();
    $('td').droppable({
      drop: function(ev, ui) {
        var drop_space_element = this;
        $.ajax({
          type: 'PUT',
          url: ui.draggable.data('update-url'),
          dataType: 'json',
          data: {piece: {row: $(this).parent().index(), column: $(this).index()}}
        }).done(function( data ) {
          if ($(drop_space_element).has('span.piece').length){
            var $capturedPieces = data.piece.color == 'white' ? $whitePlayerCapturedPieces : $blackPlayerCapturedPieces;
            $capturedPieces.append($(drop_space_element).children('span.piece').text());
            $(drop_space_element).children('span.piece').remove();
          }


          $(ui.draggable).detach().css({top: 0, left: 0}).appendTo(drop_space_element);

          var piece = data.piece;
          var type = data.piece_type;
          if (type === 'Pawn' && is_in_back_row(piece)){
            pawnId = piece.id;
            $droppedSpace = $(drop_space_element);
            $('#pawn-promotion').modal('show');
          }
        }).fail(function() {
          ui.draggable.animate({top: '0px', left: '0px'}, 'slow');
        });
      }
    });

    $('.promotion').on('click', function() {
      var piece_type = $(this).data('piece-type');
      $.ajax({
        type: 'PUT',
        url: '<%= promote_pawn_path(@game) %>',
        dataType: 'json',
        data: {promotion_type: piece_type, pawn_id: pawnId}
      }).done(function( data ) {
        $droppedSpace.html('<span class="piece" data-update-url="/pieces/'+ data.id + '" style="position: relative;">'+ data.chess_font_character + '</span>');
        $droppedSpace.children().draggable();
        $('#pawn-promotion').modal('hide');
      }).fail(function() {

      });
    });
  })
</script>

<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row text-center">
    <div id="black-player-info" class="col-md-3">
      <div class="player-name">
        <% if @game.black_player %>
          <h3><%= @game.black_player.email %></h3>
        <% else %>
          <h3>Black Power</h3>
        <% end %>
      </div>
      <div class="captured-pieces col-xs-10 col-xs-offset-1">
        <%= @black_captured.map { |piece| piece.chess_font_character }.join %>
      </div>
    </div>
    <div class="col-md-6">
      <table id="chessboard">
        <% (0..7).each do |row| %>
        <tr>
            <% (0..7).each do |col| %>
            <td>
              <%= draw_piece(@game, row, col) %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </table>
    </div>
    <div id="white-player-info" class="col-md-3">
      <div class="player-name">
        <% if @game.white_player %>
          <h3><%= @game.white_player.email %></h3>
        <% else %>
          <h3>White Supremacy</h3>
        <% end %>
      </div>
      <div class="captured-pieces col-xs-10 col-xs-offset-1">
        <%= @white_captured.map { |piece| piece.chess_font_character }.join %>
      </div>
    </div>
  </div>
</div>

<div class="game-links">
<%= link_to "Forfeit", forfeit_path(@game, user_id: current_user), method: :put, class: 'btn btn-danger' %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
</div>

<!-- Modal -->
<div class="modal fade" id="pawn-promotion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Promote pawn to:</h4>
        </div>
      <div class="pawn-promotion-modal-body">
        <% if current_user == @game.white_player %>
          <span class="promotion" data-piece-type='Queen'>q</span>
          <span class="promotion" data-piece-type='Knight'>k</span>
          <span class="promotion" data-piece-type='Rook'>r</span>
          <span class="promotion" data-piece-type='Bishop'>b</span>
        <% else %>
          <span class="promotion" data-piece-type='Queen'>w</span>
          <span class="promotion" data-piece-type='Knight'>l</span>
          <span class="promotion" data-piece-type='Rook'>t</span>
          <span class="promotion" data-piece-type='Bishop'>v</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
