<script>
  $(function() {
    $('.piece').draggable();
    $('td').droppable({
      drop: function(ev, ui) {
        var drop_space_element = this
        $.ajax({
          type: 'PUT',
          url: ui.draggable.data('update-url'),
          data: {piece: {row: $(this).parent().index(), column: $(this).index()}}
        }).done(function( data ) {
          $(ui.draggable).detach().css({top: 0, left: 0}).appendTo(drop_space_element);
        }).fail(function() {
          ui.draggable.animate({top: '0px', left: '0px'}, 'slow');
        });
      }
    });
  })
</script>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
</p>

<table id="chessboard">
  <% (0..7).each do |row| %>
  <tr>
      <% (0..7).each do |col| %>
      <td>
        <%= draw_piece(@game, row, col) %>
      </td>
    <% end %>
  </tr>
  <% end %>
</table>

<div class="game-links">
<%= link_to "Forfeit", forfeit_path(@game, user_id: current_user), method: :put, class: 'btn btn-danger' %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
</div>
